<div class="row">
  <div class="col-xs-12">
    <!-- Bindea el src y le pasa el link de la imagen -->
    <img [src]="recipe.imagePath" alt="" class="img-responsive" style="width: 80%;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- es del modelo en recipe.detail.component.ts -->
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- le pone appDropdown y es la directiva que creo en shared/dropdown.directive.ts donde le cambia el valor de false a true y viceversa cada vez que hace click, si es true HostBinding pone la clase open, si es false la quita -->
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipes <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <!-- cuando clickea ejecuta el metodo onAddToShoppingList() que esta creado en recipe-detail.component.ts -->
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer; ">To Shopping List</a></li>
        <li><a style="cursor: pointer; " (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer; " (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <!-- trae todos los ingredientes del array de recipe.service.ts y usa el modelo de recipe.model.ts, que llama desde recipe-detail.component.ts -->
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        <!-- usa string interpolation -->
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
