<!-- Recibe el evento emitido y le asigna un metodo onNavigate y le pasa el evento que trae del evento emitido desde header.component.ts, on Navigate() se encuentra en app.component.ts -->
<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- pregunta si el valor de app.component.ts es igual a recipe, si es asi lo muestra, sino no.
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      pregunta si el valor de app.component.ts no es igual a recipe 
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>-->

      <!-- en vez de usar el ngIF usa router-outlet y la ruta que entre se muestra ese componente -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>